# /***********************************************************************************
# *  @file       EmbeddedApp.service
# *  @brief      Service file to trigger application using systemd
# *
# *  @copyright  Copyright (c) 2025 Kishwar Kumar
# *              All rights reserved.
# *
# *  @license    This project is publicly available on GitHub for viewing and
# *              educational/reference purposes only. Redistribution, modification,
# *              or commercial use of any portion of this script is strictly
# *              prohibited without prior written permission from the author.
# *
# *  @author     Kishwar Kumar
# *  @version    1.0
# *
# *  @note       This script defines sorted sections (.cli_cmds and .init_calls)
# *              to be used with GCC's linkersets. It is intended for use in
# *              embedded systems such as Yocto-based Linux on Raspberry Pi.
# ***********************************************************************************/

[Unit]
Description=EmbeddedApp
After=network.target

[Service]
ExecStart=/home/application
Restart=on-failure
User=root
WorkingDirectory=/home
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
